generator control.json
[
    {
        "id": "bcad67a.8ddbf98",
        "type": "tab",
        "label": "Generator Control 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "13e1b21bf6396596",
        "type": "tab",
        "label": "Generator Vector Hub",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "9752ea5680f4eb7a",
        "type": "tab",
        "label": "Generator Control 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "5f17c9d9bc28dab4",
        "type": "tab",
        "label": "Weather Alert",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "473b600eeb5977f9",
        "type": "tab",
        "label": "Mail Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d88ffa19.8b6438",
        "type": "http request",
        "z": "bcad67a.8ddbf98",
        "name": "Call to SMC",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "3139590d.a83a46"
            ]
        ]
    },
    {
        "id": "6fda4173.28207",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "3139590d.a83a46",
        "type": "json",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "6fda4173.28207"
            ]
        ]
    },
    {
        "id": "79f7d84e.afe6b8",
        "type": "http request",
        "z": "bcad67a.8ddbf98",
        "name": "Get  Load Level",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 420,
        "wires": [
            [
                "67f7865f.0a4f38",
                "47c2f748.6bfd48"
            ]
        ]
    },
    {
        "id": "67f7865f.0a4f38",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "49edf42d.68f88c",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "ebd7f060.48838",
        "type": "http request",
        "z": "bcad67a.8ddbf98",
        "name": "Get ERCOT Price",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://linkedupenergy.com/api/APIREST.php?command=getcurrentlmp&a={\"productid\":\"1\"}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "ea423ac2.1068e8",
                "d6f571f0.855be"
            ]
        ]
    },
    {
        "id": "4486f4d.e02bd0c",
        "type": "function",
        "z": "bcad67a.8ddbf98",
        "name": "Determine Demand Response",
        "func": "var spread = (Number(flow.get(\"rtPrice\")) - Number(flow.get(\"strike\")));\nflow.set(\"spread\", spread)\nvar dResp = \"False\"\nif(Number(flow.get(\"rtPrice\"))>Number(flow.get(\"strike\")))\n{let dResp = \"True\";\nflow.set(\"dResp\", dResp)\n//msg.url =\"https://www.fieldpop.io/rest/method/fieldpop-api/getDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q&deviceID=quiverkicker_CUtBb-ZrN\";\nmsg.payload = dResp}\nelse\n{//msg.url =\"https://www.fieldpop.io/rest/method/fieldpop-api/getDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q&deviceID=quiverkicker_CUtBb-ZrN\";\nmsg.payload = dResp}\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 360,
        "wires": [
            [
                "436082a2.d5bc9c",
                "4135e075.dd1f7"
            ]
        ]
    },
    {
        "id": "47c2f748.6bfd48",
        "type": "function",
        "z": "bcad67a.8ddbf98",
        "name": "Retrieve Load",
        "func": "let load = 0\ntry {load = msg.payload.data[0].GensetBusTotalkW}\ncatch(err) {msg.payload = 0}\nreturn {payload:[load]}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "dcac12f6.9eccd"
            ]
        ]
    },
    {
        "id": "dcac12f6.9eccd",
        "type": "function",
        "z": "bcad67a.8ddbf98",
        "name": "Control Generator",
        "func": "let load = msg.payload[0];\nlet dResp = flow.get(\"dResp\")\nmsg.url = \"https://www.fieldpop.io/rest/method/fieldpop-api/setDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q\";\nif(dResp ==\"True\")\nmsg.payload = {\n    \"parameters\": {\n        \"deviceID\": \"quiverkicker_CUtBb-ZrN\",\n        \"path\": \"BAC_IP_PCC_3300_5_/RemoteStartSwitchCMD\",\n        \"value\": 1\n    }\n}    \nelse\nmsg.payload = {\n    \"parameters\": {\n        \"deviceID\": \"quiverkicker_CUtBb-ZrN\",\n        \"path\": \"BAC_IP_PCC_3300_5_/RemoteStartSwitchCMD\",\n        \"value\": 0\n    }\t\n} \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "d88ffa19.8b6438",
                "a92c9789.c0e6f8"
            ]
        ]
    },
    {
        "id": "b135ba55.04ef08",
        "type": "inject",
        "z": "bcad67a.8ddbf98",
        "name": "Test Inject Strike and ID",
        "props": [
            {
                "p": "payload.accountID",
                "v": "3x55",
                "vt": "str"
            },
            {
                "p": "payload.strikePrice",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "4ca3d888.f10bf8"
            ]
        ]
    },
    {
        "id": "a92c9789.c0e6f8",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "4135e075.dd1f7",
        "type": "function",
        "z": "bcad67a.8ddbf98",
        "name": "Form Message for vtenext",
        "func": "msg.headers = {\n   \"Authorization\": \"Basic YWRtaW46bFNUeGpCWjlWYmU3VVA1ZQ==\" \n  };\nvar dResp = flow.get(\"dResp\");\nvar spread = flow.get(\"spread\");\nif ( dResp == \"True\")\n{msg.payload = {\n    \"id\": flow.get(\"accountID\"),\n    \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1095\":\"True\",\"cf_snz_1378\":flow.get(\"spread\")}\n   )}}\n   else\n  { msg.payload = {\n    \"id\": flow.get(\"accountID\"),\n    \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1095\":\"False\",\"cf_snz_1378\":flow.get(\"spread\")}\n   )}}\nreturn msg\n\n\n    \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 600,
        "wires": [
            [
                "cea1f99f.17d908",
                "c49974c5.2cf208"
            ]
        ]
    },
    {
        "id": "cea1f99f.17d908",
        "type": "http request",
        "z": "bcad67a.8ddbf98",
        "name": "Update vtenext",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://ec2-3-216-239-69.compute-1.amazonaws.com/restapi/v1/vtews/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 600,
        "wires": [
            [
                "c61cf293.4b3c1"
            ]
        ]
    },
    {
        "id": "c61cf293.4b3c1",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "4ca3d888.f10bf8",
        "type": "change",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strike",
                "pt": "flow",
                "to": "payload.strikePrice",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "accountID",
                "pt": "flow",
                "to": "payload.accountID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "49edf42d.68f88c",
                "ebd7f060.48838"
            ]
        ]
    },
    {
        "id": "ea423ac2.1068e8",
        "type": "change",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rtPrice",
                "pt": "flow",
                "to": "payload.result[0].PRICE",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "spread",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "dResp",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "4486f4d.e02bd0c"
            ]
        ]
    },
    {
        "id": "c49974c5.2cf208",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "d6f571f0.855be",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "436082a2.d5bc9c",
        "type": "debug",
        "z": "bcad67a.8ddbf98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "61c83e79.63e14",
        "type": "link in",
        "z": "bcad67a.8ddbf98",
        "name": "Generator Vector 1",
        "links": [
            "3c5f6278.44fcbe"
        ],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "4ca3d888.f10bf8"
            ]
        ]
    },
    {
        "id": "1668b7c09ba45de5",
        "type": "inject",
        "z": "bcad67a.8ddbf98",
        "name": "Grid Query Timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "ebd7f060.48838"
            ]
        ]
    },
    {
        "id": "1fa5a28.456425e",
        "type": "http in",
        "z": "13e1b21bf6396596",
        "name": "myTest",
        "url": "myTest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "b552410b.5c0c7",
                "af9ea062.9227f",
                "2dd2fdeb.562bf2"
            ]
        ]
    },
    {
        "id": "9f445672.c55708",
        "type": "http response",
        "z": "13e1b21bf6396596",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "af9ea062.9227f",
        "type": "function",
        "z": "13e1b21bf6396596",
        "name": "generate response",
        "func": "let myvar = msg.payload.strike\nlet myrtprice =flow.get(\"realtime\")\nmsg.payload = {realTime : myrtprice, status:\"Success\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "9f445672.c55708",
                "490e2db1.5fb974"
            ]
        ]
    },
    {
        "id": "b552410b.5c0c7",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "490e2db1.5fb974",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "72c45312.74b05c",
        "type": "switch",
        "z": "13e1b21bf6396596",
        "name": "Vector to New Instance",
        "property": "counter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "8abd3816.da47b8",
                "3c5f6278.44fcbe"
            ],
            [
                "7a5b071b.003488",
                "71020d90.391fd4"
            ],
            [
                "ddcd3a5a.792d38",
                "139c780f.a28aa8"
            ]
        ]
    },
    {
        "id": "7ddb0351.5853ec",
        "type": "inject",
        "z": "13e1b21bf6396596",
        "name": "",
        "props": [
            {
                "p": "payload.accountID",
                "v": "3x55",
                "vt": "str"
            },
            {
                "p": "payload.strikePrice",
                "v": "18",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 240,
        "wires": [
            [
                "2dd2fdeb.562bf2"
            ]
        ]
    },
    {
        "id": "8abd3816.da47b8",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "Count 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "7a5b071b.003488",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "Count 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "ddcd3a5a.792d38",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "Count 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "2dd2fdeb.562bf2",
        "type": "function",
        "z": "13e1b21bf6396596",
        "name": "Counter vector",
        "func": "var counter = flow.get(\"counter\") || 0;\ncounter ++ ;\nflow.set(\"counter\", counter) ;\nmsg.topic = counter\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "72c45312.74b05c",
                "ff335bce.6a93d8"
            ]
        ]
    },
    {
        "id": "214cb95a.2dd096",
        "type": "inject",
        "z": "13e1b21bf6396596",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "b94e9160.a2608"
            ]
        ]
    },
    {
        "id": "b94e9160.a2608",
        "type": "change",
        "z": "13e1b21bf6396596",
        "name": "reset counter ",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "d86aea80.f8b238"
            ]
        ]
    },
    {
        "id": "d86aea80.f8b238",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff335bce.6a93d8",
        "type": "debug",
        "z": "13e1b21bf6396596",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "3c5f6278.44fcbe",
        "type": "link out",
        "z": "13e1b21bf6396596",
        "name": "Generator Vector 1",
        "mode": "link",
        "links": [
            "61c83e79.63e14",
            "beaeda98a1efc9ac"
        ],
        "x": 935,
        "y": 140,
        "wires": []
    },
    {
        "id": "71020d90.391fd4",
        "type": "link out",
        "z": "13e1b21bf6396596",
        "name": "Generator Vector 2",
        "mode": "link",
        "links": [],
        "x": 935,
        "y": 220,
        "wires": []
    },
    {
        "id": "139c780f.a28aa8",
        "type": "link out",
        "z": "13e1b21bf6396596",
        "name": "Generator Vector 3",
        "links": [
            "66ab6005.f1b36"
        ],
        "x": 935,
        "y": 320,
        "wires": []
    },
    {
        "id": "40d8c816217b7a7c",
        "type": "http request",
        "z": "9752ea5680f4eb7a",
        "name": "Call to SMC",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "9aec90dca1ee6920"
            ]
        ]
    },
    {
        "id": "cc0280729dbaa965",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "9aec90dca1ee6920",
        "type": "json",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "cc0280729dbaa965"
            ]
        ]
    },
    {
        "id": "2cb49f1243a6a3d3",
        "type": "http request",
        "z": "9752ea5680f4eb7a",
        "name": "Get  Load Level",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "288cf710b0c6ba5c",
                "834c91f1ba5cc18e"
            ]
        ]
    },
    {
        "id": "288cf710b0c6ba5c",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "758e2d0b4c042265",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "3cb920d81f2703b9",
        "type": "http request",
        "z": "9752ea5680f4eb7a",
        "name": "Get ERCOT Price",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://linkedupenergy.com/api/APIREST.php?command=getcurrentlmp&a={\"productid\":\"1\"}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "c15466fdc6f54648",
                "205c8322ad333b85"
            ]
        ]
    },
    {
        "id": "28a9dc363d1d2eb8",
        "type": "function",
        "z": "9752ea5680f4eb7a",
        "name": "Determine Demand Response",
        "func": "var spread = (Number(flow.get(\"rtPrice\")) - Number(flow.get(\"strike\")));\nflow.set(\"spread\", spread)\nvar dResp = \"False\"\nif(Number(flow.get(\"rtPrice\"))>Number(flow.get(\"strike\")))\n{let dResp = \"True\";\nflow.set(\"dResp\", dResp)\n//msg.url =\"https://www.fieldpop.io/rest/method/fieldpop-api/getDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q&deviceID=quiverkicker_CUtBb-ZrN\";\nmsg.payload = dResp}\nelse\n{//msg.url =\"https://www.fieldpop.io/rest/method/fieldpop-api/getDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q&deviceID=quiverkicker_CUtBb-ZrN\";\nmsg.payload = dResp}\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 220,
        "wires": [
            [
                "0484f3aa18b1676b",
                "f41b9072f60839cb"
            ]
        ]
    },
    {
        "id": "834c91f1ba5cc18e",
        "type": "function",
        "z": "9752ea5680f4eb7a",
        "name": "Retrieve Load",
        "func": "let load = 0\ntry {load = msg.payload.data[0].GensetBusTotalkW}\ncatch(err) {msg.payload = 0}\nreturn {payload:[load]}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "014636031ed33f1f"
            ]
        ]
    },
    {
        "id": "014636031ed33f1f",
        "type": "function",
        "z": "9752ea5680f4eb7a",
        "name": "Control Generator",
        "func": "let load = msg.payload[0];\nlet dResp = flow.get(\"dResp\")\nmsg.url = \"https://www.fieldpop.io/rest/method/fieldpop-api/setDeviceData?happn_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ImlkfDAzYTVkYTgwLTI0Y2ItNGU1OS05OTMyLWI1ZjI4ZjFmMGM5NXx0eXBlfHRpbWVzdGFtcHxwYXJlbnRJZHxpc0VuY3J5cHRlZHxvcmlnaW58bWFpbl9icm9rZXJjMzk4NTNkNWY5MGU0MjM1ODFmMDI3MTgzZjQ0Mjk3Y3xwb2xpY3l8MHx0dGx8aW5hY3Rpdml0eV90aHJlc2hvbGR8MXxpc1Rva2VufHVzZXJuYW1lfG1hcmNoQGV4ZXJneWVuZXJneS5jb218dXNlcmlkfDJhZDM4OWNlLTVmY2EtNGQ5YS05ODRkLTg4YTc2NmJlNjM4NF4xfEtLNjY0NUQ0fDB8MF5eJDB8MXwyfEl8M3xKfDR8MXw1fC0yfDZ8N3w4fCQ5fCRBfEt8QnwtM118Q3wkQXxMfEJ8LTNdXXxEfC0xfEV8RnxHfEhdIg.h8oaL_uFseK5ykDKLPbnPGtyhral_0FyMkWzZiqtk4Q\";\nif(dResp ==\"True\")\nmsg.payload = {\n    \"parameters\": {\n        \"deviceID\": \"quiverkicker_CUtBb-ZrN\",\n        \"path\": \"BAC_IP_PCC_3300_5_/RemoteStartSwitchCMD\",\n        \"value\": 1\n    }\n}    \nelse\nmsg.payload = {\n    \"parameters\": {\n        \"deviceID\": \"quiverkicker_CUtBb-ZrN\",\n        \"path\": \"BAC_IP_PCC_3300_5_/RemoteStartSwitchCMD\",\n        \"value\": 0\n    }\t\n} \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "40d8c816217b7a7c",
                "f657c9ab08a0ea7c"
            ]
        ]
    },
    {
        "id": "3aa5e6d833d3b766",
        "type": "inject",
        "z": "9752ea5680f4eb7a",
        "name": "Test Inject Strike and ID",
        "props": [
            {
                "p": "payload.accountID",
                "v": "3x55",
                "vt": "str"
            },
            {
                "p": "payload.strikePrice",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "a562d73c8d37b58d"
            ]
        ]
    },
    {
        "id": "f657c9ab08a0ea7c",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "f41b9072f60839cb",
        "type": "function",
        "z": "9752ea5680f4eb7a",
        "name": "Form Message for vtenext",
        "func": "msg.headers = {\n   \"Authorization\": \"Basic YWRtaW46bFNUeGpCWjlWYmU3VVA1ZQ==\" \n  };\nvar dResp = flow.get(\"dResp\");\nvar spread = flow.get(\"spread\");\nif ( dResp == \"True\")\n{msg.payload = {\n    \"id\": flow.get(\"accountID\"),\n    \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1095\":\"True\",\"cf_snz_1378\":flow.get(\"spread\")}\n   )}}\n   else\n  { msg.payload = {\n    \"id\": flow.get(\"accountID\"),\n    \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1095\":\"False\",\"cf_snz_1378\":flow.get(\"spread\")}\n   )}}\nreturn msg\n\n\n    \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "9dcff9e3af1bc1ce",
                "74cbd0e430ee4df9"
            ]
        ]
    },
    {
        "id": "9dcff9e3af1bc1ce",
        "type": "http request",
        "z": "9752ea5680f4eb7a",
        "name": "Update vtenext",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://ec2-3-216-239-69.compute-1.amazonaws.com/restapi/v1/vtews/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "d22fd1b39dc46132"
            ]
        ]
    },
    {
        "id": "d22fd1b39dc46132",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "a562d73c8d37b58d",
        "type": "change",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "strike",
                "pt": "flow",
                "to": "payload.strikePrice",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "accountID",
                "pt": "flow",
                "to": "payload.accountID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "758e2d0b4c042265",
                "3cb920d81f2703b9"
            ]
        ]
    },
    {
        "id": "c15466fdc6f54648",
        "type": "change",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rtPrice",
                "pt": "flow",
                "to": "payload.result[0].PRICE",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "spread",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "dResp",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "28a9dc363d1d2eb8"
            ]
        ]
    },
    {
        "id": "74cbd0e430ee4df9",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "205c8322ad333b85",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "0484f3aa18b1676b",
        "type": "debug",
        "z": "9752ea5680f4eb7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "beaeda98a1efc9ac",
        "type": "link in",
        "z": "9752ea5680f4eb7a",
        "name": "Generator Vector 2",
        "links": [
            "3c5f6278.44fcbe"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "a562d73c8d37b58d"
            ]
        ]
    },
    {
        "id": "22a68b752818c009",
        "type": "inject",
        "z": "9752ea5680f4eb7a",
        "name": "Grid Query Timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "3cb920d81f2703b9"
            ]
        ]
    },
    {
        "id": "b8b6e833.38b508",
        "type": "http request",
        "z": "5f17c9d9bc28dab4",
        "name": "Weatherbit HTTP ",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "f5cd9c55.17bdc",
                "819cc74e.b5a758"
            ]
        ]
    },
    {
        "id": "ac504bc6.abf9a8",
        "type": "function",
        "z": "5f17c9d9bc28dab4",
        "name": "Form Message for vtenext",
        "func": "msg.headers = {\n    \"Authorization\": \"Basic YWRtaW46bFNUeGpCWjlWYmU3VVA1ZQ==\"\n  };\n//msg.payload = {\n  //  \"id\": flow.get(\"account_ID\"),\n//    \"columns\": JSON.stringify({\"cf_1099\":\"Yes\"})\n//  };\n\n//return msg;\nif (flow.get(\"alert\") == 0)\n{msg.payload = {\n    \"id\": flow.get(\"account_ID\"),\n    \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1099\":\"No\",\"cf_snz_1376\":\"clear\",\"cf_snz_1377\":\"nothing to report\"})\n   }}\n \nelse\n{msg.payload = {\n    \"id\": flow.get(\"Account_ID\"),\n   \"columns\": JSON.stringify({\"cf_snz_1375\":\"Back\",\"cf_1099\":\"Yes\",\"cf_snz_1376\":flow.get(\"severity\"),\"cf_snz_1377\":flow.get(\"title\")})\n      }}\n \nreturn msg;\n\n\n    \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "d842ded9.d9564",
                "b393174.b6f32e8"
            ]
        ]
    },
    {
        "id": "d842ded9.d9564",
        "type": "http request",
        "z": "5f17c9d9bc28dab4",
        "name": "Update vtenext",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://ec2-3-216-239-69.compute-1.amazonaws.com/restapi/v1/vtews/update",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 600,
        "y": 660,
        "wires": [
            [
                "d4720732.21a7e8"
            ]
        ]
    },
    {
        "id": "2a2354bd.39d3dc",
        "type": "change",
        "z": "5f17c9d9bc28dab4",
        "name": "Store Variables ",
        "rules": [
            {
                "t": "set",
                "p": "account_ID",
                "pt": "flow",
                "to": "payload.account_ID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "postal_code",
                "pt": "flow",
                "to": "payload.postal_code",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "email",
                "pt": "flow",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "first_Name",
                "pt": "flow",
                "to": "payload.first_Name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "account_Name",
                "pt": "flow",
                "to": "account_Name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "5370e5b7.2f26fc"
            ]
        ]
    },
    {
        "id": "d4720732.21a7e8",
        "type": "debug",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "b393174.b6f32e8",
        "type": "debug",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "f5cd9c55.17bdc",
        "type": "change",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alert",
                "pt": "flow",
                "to": "payload.alerts.length",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "severity",
                "pt": "flow",
                "to": "payload.alerts.severity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "flow",
                "to": "payload.alerts.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "ac504bc6.abf9a8",
                "8d35292d0be8d02a"
            ]
        ]
    },
    {
        "id": "5370e5b7.2f26fc",
        "type": "function",
        "z": "5f17c9d9bc28dab4",
        "name": "Construct Weather Get Message",
        "func": "msg.url = \"https://api.weatherbit.io/v2.0/alerts?&key=b0db917741ff443ba51137fd3142a0db\";\nmsg.payload = {\n\n        \"Postal_Code\": flow.get(\"postal_code\")\n}    \n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "b8b6e833.38b508"
            ]
        ]
    },
    {
        "id": "819cc74e.b5a758",
        "type": "debug",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "6427556e.5b966c",
        "type": "http in",
        "z": "5f17c9d9bc28dab4",
        "name": "myTestweather",
        "url": "myTestweather",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "da40d345.48d1d",
                "39687c3a.b2db04",
                "2a2354bd.39d3dc"
            ]
        ]
    },
    {
        "id": "41b91a50.3e8d44",
        "type": "http response",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "39687c3a.b2db04",
        "type": "function",
        "z": "5f17c9d9bc28dab4",
        "name": "generate response",
        "func": "let Postal = msg.payload.postal_code\nmsg.payload = {postal_code :Postal, status:\"Success\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "41b91a50.3e8d44",
                "9c4e4761.232008"
            ]
        ]
    },
    {
        "id": "da40d345.48d1d",
        "type": "debug",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c4e4761.232008",
        "type": "debug",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "91107ddcd460744e",
        "type": "inject",
        "z": "5f17c9d9bc28dab4",
        "name": "Force Data Load",
        "props": [
            {
                "p": "payload.account_Name",
                "v": "Intelligence Applied",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.account_ID",
                "v": "3x55",
                "vt": "str"
            },
            {
                "p": "payload.email",
                "v": "march.david.a@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload.first_Name",
                "v": "David",
                "vt": "str"
            },
            {
                "p": "payload.postal_Code",
                "v": "22314",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "2a2354bd.39d3dc"
            ]
        ]
    },
    {
        "id": "8d35292d0be8d02a",
        "type": "function",
        "z": "5f17c9d9bc28dab4",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [
            [
                "47490ed3c03c258d"
            ]
        ]
    },
    {
        "id": "47490ed3c03c258d",
        "type": "e-mail",
        "z": "5f17c9d9bc28dab4",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": false,
        "tls": false,
        "name": "march.david.a@gmail.com",
        "dname": "send alert",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "1acacc9bc1ff696c",
        "type": "e-mail",
        "z": "473b600eeb5977f9",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "march.david.a@gmail.com",
        "dname": "",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "607da81e66d4d109",
        "type": "inject",
        "z": "473b600eeb5977f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "1acacc9bc1ff696c"
            ]
        ]
    }
]